@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Incorporeal Incorporated</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Learn more about the person who created this site: <a href="https://www.linkedin.com/in/gaelen203/" target="_blank">Gaelen Rhoads</a></p>
</div>